body {
    background-color: #232323;
    color: white;
}

#container {
    margin: 0 auto;
    width: 600px;
}

#stripe {
    background-color: #ffffff;
    height: 30px;
    text-align: center;
    color: #232323;
}

.selected {
    background-color: teal;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
}